{{#if editing}}
	{{input class="edit" value=todo.title enter="submitTodo"}}
{{else}}
	{{x-checkbox checked=todo.completed class="toggle" action="submitTodo"}}
	<label class="{{if todo.completed 'completed'}}" {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label>
	<button class="destroy" {{action "deleteTodo"}}></button>
{{/if}}