<section id="main">
  {{yield}}
	{{input type="checkbox" id="toggle-all" class="toggle" checked=allAreDone}}
	<div class="indicator-base"></div>
	{{refresh-indicator}}
</section>

<footer id="footer">
    <span id="todo-count">
        <strong>{{remainingCount}}</strong> {{inflection}} left
    </span>
	<ul id="filters">
		<li>
			{{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.incompleted" activeClass="selected"}}Active{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
		</li>
	</ul>

	{{#if hasCompleted}}
		<button id="clear-completed" {{action "clearCompleted"}}>
			Clear completed ({{completedCount}})
		</button>
	{{/if}}
</footer>
